<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('./partials/head.ejs') %> 
<!-- End head -->
<body>
  <!-- Navigation -->
  <%- include('./partials/nav.ejs') %> 
  <!-- End Navigation -->

  <!-- Blogs content -->
  <div class="not-found content">
    <h2>OOPS, page not found :)</h2>
  </div>
  <!--  End Blogs content -->
  <!-- footer -->
  <%- include('./partials/footer.ejs') %> 
  <!-- End footer -->
</body>

</html>