<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('./partials/head.ejs') %> 
<!-- End head -->
<body>
  <!-- Navigation -->
  <%- include('./partials/nav.ejs') %> 
  <!-- End Navigation -->

  <!-- Blogs content -->
  <div class="about content">
    <h2>About US</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore unde soluta qui nihil corporis provident aspernatur rem in nesciunt vitae consequatur, ullam totam cumque neque odio fugit corrupti beatae nobis!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore unde soluta qui nihil corporis provident aspernatur rem in nesciunt vitae consequatur, ullam totam cumque neque odio fugit corrupti beatae nobis!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore unde soluta qui nihil corporis provident aspernatur rem in nesciunt vitae consequatur, ullam totam cumque neque odio fugit corrupti beatae nobis!</p>
  </div>
  <!--  End Blogs content -->
  <!-- footer -->
  <%- include('./partials/footer.ejs') %> 
  <!-- End footer -->
</body>

</html>